:root {
    --primary-400: #60a5fa;
    --primary: #3b82f6;
    --primary-600: #2563eb;
    --secondary: rgba(0, 0, 0, 0.54);
    --accent: #64ffda;
    --text: rgba(0, 0, 0, .75);
    --secondary: rgba(0, 0, 0, .54);
    --line-height-base: 1.6;
    --font-size-base: 22px;
    --border: 1px solid rgba(0, 0, 0, 0.12);
}

body {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 1.6;
    color: var(--text);
}

body>.container {
    max-width: 700px;
    margin: auto;
    padding: 2em 1em;
    box-sizing: border-box;
}

/* Dark theme */
body.dark {
    background-color: #1a1a1a;
    --text: #efefef;
    --secondary: #BCBCBD;
    --dividers: #878787;
    --border: 1px solid var(--dividers);
    color: var(--secondary);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: var(--text);
}

body.dark input[type=email],
body.dark input[type=text] {
    background-color: #ffffff;
    border-color: white;
    color: #333;
}

/* End dark theme */


/* HTML Elements */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 800;
    color: rgba(0, 0, 0, .9);
}

h1,
h2,
h3 {
    margin: 40px 0 5px;
}

p {
    margin: 0 0 1.5em;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}

pre {
    background-color: rgba(0, 0, 0, 0.87);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 10px;
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    background: #FFF;
    background-clip: padding-box;
    border: var(--border);
    border-radius: 4px;
    color: var(--text);
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: 8px 16px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
    word-break: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 16px;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

/* Sections */

nav {
    background-color: transparent;
    padding: 1em 0;
}

nav a {
    font-size: .8em;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin-right: 20px;
}

@media (max-device-width:600px) {
    nav a {
        margin-right: 8px;
    }
}

nav a:hover {
    background-color: transparent;
    text-decoration: underline;
}

nav .icon {
    opacity: 0.7;
    text-decoration: none;
}

#theme_toggler {
    color: var(--link-color);
    font-size: 14px;
    vertical-align: sub;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: -5px;
    left: -5px;
}

nav .icon:hover,
#theme_toggler:hover {
    text-decoration: none;
    opacity: 1;
    color: var(--primary-600);
}

article img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    border-top: var(--border);
    padding: 1em 0;
    margin-top: 2em;
}

small {
    color: var(--secondary)
}

/* Utility classes (use them whenever needed) */

.right {
    float: right;
}

footer form {
    width: 100%;
    max-width: 500px;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

@media (max-device-width:600px) {
    footer form {
        width: 90%;
    }
}

footer form input {
    margin: 0;
    display: flex;
    flex-direction: row;
}

footer input[type=email],
footer input[type=email]:focus-visible {
    flex-grow: 2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

footer input.button,
footer input[type=submit] {
    flex-basis: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



img.super-wide {
    overflow: hidden;
    width: 140%;
    max-width: calc(100vw);
    left: 50%;
    position: relative;
    transform: translate3d(-50%, 0px, 0px);
    border-radius: 3px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    display: block;
}

@media (max-width: 600px) {
    img.super-wide {
        border-radius: 0;
    }
}

.hidden {
    display: none;
}

.call-out {
    background-color: var(--primary-600);
    color: white;
    padding: 20px;
    border-radius: 4px;
}